 <mat-card *ngFor="let item of items; let i =index " class="container">
    <mat-card-content>
      <section class="example-section ">
        <mat-checkbox class="example-margin"[(ngModel)]="item.checked"  >{{item.name}}</mat-checkbox>
        <router-outlet></router-outlet>
        <button mat-flat-button class="delete" (click)="deleteItem(i)">X</button>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card class="footer"  >
    <!-- *ngFor="let item of items" -->
    <div class="counter"> items</div>
    <!-- {{item.count}} -->
    <div class="buttons">
    <button mat-flat-button class="footerButton">All</button>
    <button mat-flat-button class="footerButton" routerLink="/active" >Active</button>
    <button mat-flat-button class="footerButton" routerLink="/completed">Completed</button>
  </div>
  </mat-card>
 




