<div class="container">
 <h1>  todos  </h1>

 <input  matInput placeholder= "What needs to be done?" [(ngModel)]="name"  (keyup)="handleKeyUp($event) " routerLink="todolist">
 <div class="arrow"><mat-icon>label_important</mat-icon></div>
 <router-outlet></router-outlet>
  <div class="references">
    <p>Double-click to edit a todo
      <br> Written by
       <a href="https://github.com/ashish01/knockoutjs-todos">Ashish Sharma </a>
       and <a href="http://www.knockmeout.net/"> Ryan Niemeyer</a>
       <br>Part of<a href="https://todomvc.com/"> TodoMVC </a> </p>
  </div>
</div>








