<mat-card  *ngFor="let activeItem of activeItems">
  <mat-checkbox class="example-margin" >{{activeItem}}</mat-checkbox>
</mat-card>
<mat-card class="footer"  >
  <!-- *ngFor="let item of items" -->
  <div class="counter"> items</div>
  <!-- {{item.count}} -->
  <div class="buttons">
  <button mat-flat-button class="footerButton" routerLink="/todolist">All</button>
  <button mat-flat-button class="footerButton" routerLink="/active" >Active</button>
  <button mat-flat-button class="footerButton" routerLink="/completed">Completed</button>
</div>
</mat-card>

